.login-page {
  background: url("./background.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 20px;
}

.login-page > .container {
  height: 100%;
}

.login-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login-form {
  overflow-y: auto;
  padding: 3%;
  width: 40%;
  background: #ffffff;
  border: 10px solid #383838;
}

.form-group {
  justify-content: center;
}

.form-group > .form-control {
  width: 60%;
  margin: 0 auto;
}

.form-group > .form-label {
  margin-left: 20%;
}

.form-check {
  margin-left: 20%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.login-form .btn {
  width: 40%;
  height: 60%;
}
